.gradient-custom {
    /* fallback for old browsers */
    background: rgb(133, 141, 253);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(56, 55, 52), rgb(133, 141, 253));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(56, 55, 52), rgba(133, 141, 253))
    }
.gradient-custom-background {
    /* fallback for old browsers */
    background: rgb(74, 79, 141);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left bottom, #575e64, rgb(74, 79, 141));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left bottom, #575e64, rgb(74, 79, 141))
    }